extends layout

block content
  header 
    h1= title
    p Welcome to #{title}

    main 
      .button-container
        a(href=`http://localhost:${process.env.PORT || 3000}/new`): button= 'Post your thoughts!'
      each message in messages
        h2.title=message.text
        p.description=message.description 
        footer
          p.user=message.user
          p.date=message.added 