extends layout

block content
  header 
    h1= title

    div.secondary-header
      p.intro A safe place for all your thoughts!

      .button-container
        a(href=`http://localhost:${process.env.PORT || 3000}/new`): button.post= 'Post your thoughts!'
  main
      each message in messages
        .message-card
          div.title-container
            h2.title=message.text
          p.description=message.description 
          footer
            p.user=message.user
            p.date=message.added 